{#
  variables that are available:
  - {{ items }}: contains an array with all posts, each element contains data about the post
#}

<header>
    <h1>{{ 'lbl.Blog'|trans|ucfirst }}</h1>
</header>

{% if not items %}
    <p>{{ 'msg.BlogNoItems'|trans }}</p>
{% else %}
    <section>
        {% for article in items %}
            <article class="article index">
                <header>
                    <h2><a href="{{ article.full_url }}" class="al" title="{{ article.title }}">{{ article.title }}</a></h2>
                </header>

                <div class="text">
                    <p>
                        {% if article.introduction %}
                            {% set introduction = article.introduction|striptags %}
                        {% else %}
                            {% set introduction = article.text|striptags %}
                        {% endif %}
                        {{ introduction|length > 276 ? introduction|slice(0, 276) ~ '...' : introduction  }}

                        <a href="{{ article.full_url }}" class="al article-more">→</a>
                    </p>
                </div>
                <br>
                <p class="article-date"><time itemprop="datePublished" datetime="{{ item.publish_on|date('Y-m-d\TH:i:s') }}">{{ item.publish_on|date("F jS, Y") }}</time></p>
                <hr>
            </article>
        {% endfor %}

        {% include "Core/Layout/Templates/Pagination.html.twig" %}
    </section>
{% endif %}
